.tab-pane {
  height: calc(95vh - 52px);
  overflow-x: hidden;
}

#shiny-tab-module::-webkit-scrollbar {
  width: 40px;
}

#shiny-tab-module::-webkit-scrollbar-thumb {
  border: 12px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.15);
}

#shiny-tab-summaries .box-info .box-body {
  overflow-x: scroll;
}

#download {
  color: #444;
  margin-top: 30px;
  margin-left: 15px;
}
